package layout
templ Base(){
    <html>
    <head></head>
    <body>
        {children...}
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    </body>
    </html>
}